
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');



 .summary  > p{
    font-family: 'Quicksand', sans-serif;
}


.data {
    margin: 0 1rem;
    display:flex;
}
.rightCol {
    flex: 1;
}
.downloadBtn{
    display: flex;
    width:100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left:0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 1s all ease;
    cursor: pointer;

}
.downloadBtn > a {
    margin-right: 2rem;
    text-decoration: none;
    font-size: large;
    color: white;
}

.downloadBtn:hover {
    transform: scale(1.01);
    background-color: rgba(0, 0, 0, 0.863);
}
.resumeCon{
     border:2px solid black;
     position: relative;
     height: 100%;
     width: 80%;
     margin: 0.4rem auto;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}

#dark .resumeCon{
    border:2px solid rgb(59, 59, 59);
}
.resumeCon > img {
    width: 80%;
    height: 100%;
  
}
.sIcon{
     text-decoration: none;
     color: black;
}

#dark .sIcon {
    color: white;
}
.leftCol {
    text-align: start;
    font-weight: 600;
    font-size :1rem;
    padding: 0.5rem;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    flex:1;
    box-shadow: 1px 0px 3px black;
}
#dark .leftCol {
    box-shadow: 1px 0px 3px white;
}


.leftCol > p > span{
    color:#61dbfb;
    font-family: 'Montserrat Alternates', sans-serif;

    
}



.socialIcon {
    display: flex;
  
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin:4rem auto;
    
}


@media (max-width:600px) {
   
    .data{
        flex-direction: column;
    }
    .leftCol{
        margin-bottom: 1rem;
        font-size: 0.8rem;
        width: 93%;
    }
}