



 .badge-base  > p{
     font-family: Arial, Helvetica, sans-serif
}


.data {
    margin: 0 1rem;
}

.sIcon{
     text-decoration: none;
     color: black;
}

#dark .sIcon {
    color: white;
}
.leftCol {
    text-align: start;
    font-weight: 600;
    font-size :large;
    
}

.leftCol > p > span{
    color:#61dbfb;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



.socialIcon {
    display: flex;
  
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin:4rem auto;
    
}


@media (max-width:600px) {
    .badge-base > p {
        margin: 0;
    }
}