.form {
    flex: 1;
}
.form > h4 {
    text-align: start;
    margin-left: 1rem;
}

.field{
    height: 4rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: 600;
}



.field > input {
    height:3rem;
}

.textarea{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: 600;
}

.textarea > textarea {
    height: 5rem;
}

.form >input {
    height:2.5rem;
    width: 93%;
    margin: 1rem;
    border: none;
    font-weight: 700;
}

.form >input:hover{
    background-color: #61dbfb;
    color:white;
}
.formSection{
    display: flex;
    margin: 4rem 0.3rem 10vh 0.3rem;
    padding-bottom: 5rem;
}

.svg{
    width: 100%;
    height: 100%;
    flex:1;
}


@media (max-width:600px) {
    .formSection{
        flex-direction: column;
    }
    .form >input{
        width: 91%;
    }
}