
.footerNav {
    position: fixed;
    bottom: 0;
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.137);
    max-width: 1100px ;
}

#dark {
    background-color: rgb(121, 112, 112);
    color:white;

}
#light .footerNav{
    background-color: #61dbfb;
}
#dark .footerNav {
    background-color: rgb(71, 70, 70);
}

.navIcon{
    width: 100%;
    cursor: pointer;
    color:black;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius:10px ;
}

#dark .navIcon {
    color:white;
}

.navIcon:hover {
    background-color: rgba(0, 0, 0, 0.5) ;
   
}
#light .icon {
    color:black
}
#dark .icon {
    color:white;
}
.summary{
    margin: 1rem 2rem;
    display: flex;
}

.active {
    border-top: 4px solid  black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0px -5px 15px black;
}

#dark .active{
    border-top: 4px solid #61dbfb;
    border-left: 2px solid #61dbfb;
    border-right: 2px solid #61dbfb;
    box-shadow: 0px -5px 15px #61dbfb;
}


