.lastProject {
    display: flex;
    margin: 3rem 0 0 0;
    padding-bottom: 3rem;
}


.showCon{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 1s all ease;

}
.imgOverlay {
    position:absolute;
    top:0;
    width:75%;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
 
    justify-content: center;
    font-size: 1.2rem;
    opacity: 0;
    cursor: pointer;
    transition: 1s all ease;

}
.imgOverlay> p> span{
    font-size: 0.8rem;
    color:gold;

}
.imgOverlay >hr {
    width: 80%;
}
.showCon:hover .imgOverlay {
    opacity: 80%;
}
.showCon:hover  .showImage{
    transform:  translate(0px, 0px);
}
.showImg {
    width:75%;
    height: 15rem;
    margin: auto;
    border: 1.5px solid black;
}

#dark .showImg {
    border: 1.5px solid white;
}
.showImage{
    width:100%;
    height: 100%;
    transform: translate(-20px, -20px);
    transition: 0.5s all ease;

}
.description , .hideDesc{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 1s all ease;
}
.description > p, .hideDesc > p{
    width: 80%;
    text-align: start;

}
.description >h1, .hideDesc > h1{
    font-size: 1.2rem;
    margin:0;
    text-align: start;
    font-weight: 600;
}

.lastProjectBtnCon{
    width: 80%;
    display: flex;

}
.lastProjectBtnCon> .plink {
    width: 100%;
    height:3rem;
    cursor:pointer;
    font-weight:600;
    flex: 1;
    transition: 0.5s ease;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-radius: 5px;
    border:2px dotted #61dafb;
    text-decoration: none;


}

.lastProjectBtnCon> .plink:hover {
    flex:2;
}

#light .plink {
    background-color: rgba(255, 255, 255, 0.932);
    color:black;
}
#dark .plink {
    background-color: white;
    color:black;
}
.mobileOnly{
    display: none;
}




@media (max-width: 700px) {
    .lastProject{
        flex-direction: column;
        margin:2rem 0.3rem;
        margin-bottom: 4rem;
    }
    .description > p{
        text-align: center;
    }
    .description > h1 {
        text-align: center;
        font-size: 1rem;

        margin-top: 0.5rem;

    }
    .description{
      
        align-items: center;
    }
    .hideDesc {
        display: none;
    }
    .mobileOnly{
        display: block;
        text-decoration: underline;
        cursor: pointer;
    }
    .showImg {
        border-radius: 1rem;
        width: 85%;
        
    }
    
  #dark .showImg {
      border:none;
   }
    .imgOverlay{
        border-radius: 1rem;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgOverlay>p {
        width: 90%;
    }
    .showImage{
        width:100%;
        height: 100%;
        transform: translate(0);
        transition: 0.5s all ease;
        border-radius: 1rem;
    
    }
}