@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

.name > h1 {
   margin:0.5rem 0;
}

.name > p {
    font-size: 1.2rem;
    margin : 0;
} 

.buttonCon {
    display: flex;
    width: 100%;
    font-family: 'Quicksand', sans-serif;

   
}

.nlink {
    text-decoration:none;
    width: 100%;
    width: 100%;
    padding:0.6rem;
    margin: 0.6rem;
    background-color: transparent;
    border : 2px dotted rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    cursor: pointer;

}
.namebtn {
    text-decoration:none;

    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#light .nlink {
     color:black;
}

#dark .nlink {
    border : 2px dotted white;
    color: white;
}
#dark .nlink:hover {
    box-shadow: 5px 5px 1px white;
}
.nlink:hover {
    box-shadow: 5px 5px 1px black;
}
.nameIcon {
    margin-right:0.5rem ;
}