.pageHeader{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 0 0.7rem;

}

#light .pageHeader{
    background-color: #61dbfb;
}

#dark .pageHeader{
    border-bottom: 1px solid white;
} 

.profileImg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.profile {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

@media (max-width:600px) {
    .pageTitle {
        font-size: 0.8rem;
    }
}